<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Inventory Analyzer - Home </h1>
        <nav>
            <a href="/">Home</a>
            <a href="{{ url_for('add_software') }}">Add New Software</a>
            <a href="{{ url_for('view_inventory') }}">View Inventory</a>
            <a href="{{ url_for('help') }}">Help</a>
        </nav>
    </header>
    <div id="content">
        <h2>Welcome to the Inventory Analyzer!</h2>
        <p>This tool assists organizations in managing their software inventories. You can easily add, view, and delete software entries, helping you keep track of software usage and licensing information.</p>
        <h3>Features:</h3>
        <ul>
            <li>Add new software entries with detailed information.</li>
            <li>View all software in a comprehensive list with options to edit or delete.</li>
            <li>Access helpful resources through our Help section.</li>
        </ul>
        <h3>Contact Us</h3>
        <p>For support or more information, please email: <a href="mailto:lmirch@umich.edu">lmirch@umich.edu</a></p>
    </div>
    <footer>
        <p>© 2024 Inventory Analyzer</p>
    </footer>
</body>
</html>
